django
anyjson
git+https://github.com/zxh326/django-simple-serializer.git
git+https://github.com/istommao/django-simditor.git
requests
redis
celery
Pillow
tenacity
weixin-python
uwsgi
gevent
mysqlclient